html {
    scroll-behavior: smooth;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size: 20px !important;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size: 20px !important;
}

h1 h2 h3 h4 h5 h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.nav-wrapper {
    background: darkblue;
}

.nav-list {
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.nav-link {
    color: white !important;
    font-size: large;
    text-decoration: none;
}

.nav-link:hover {
    background: black !important;
    text-decoration: none;
}

.nav-link:visited {
    text-decoration: none !important;
}

.icon {
    padding-right: 15px;
    padding-left: 15px;
}

.dropdown-item {
    margin: 0px;
}

.dropdown-link {
    background: darkblue !important;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.dropdown-link:hover {
    background: black !important;
    text-decoration: none;
}

.dropdown-link:visited {
    text-decoration: none !important;
}

.page-footer {
    background: darkblue;
    color: white;
}

.footer-content {
    margin-bottom: 0px !important;
}

.sm-title {
    color: white;
}

.sm-button {
    background: blue;
    color: white !important;
    border-radius: 100%;
    margin: 5px;
    padding: 15px;
    text-decoration: none;
}

.sm-button:hover {
    background: grey;
    text-decoration: none;
}

 /* Style the header: fixed position (always stay at the top) */
 .header {
    position: fixed;
    top: 70px;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 15px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 15px;
    background: rgb(11, 153, 107);
    width: 0%;
  } 