html {
    scroll-behavior: smooth;
}

body {
    background-color: #f7feff;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Times New Roman', Times, serif;
}

.icon {
    padding-right: 10px;
}

.down-arrow {
    padding-left: 10px;
}

.nav-wrapper {
    background: limegreen;
}

.nav-link {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link:hover {
    text-decoration: none;
    background: black;
}

.nav-link:visited {
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.title {
    font-weight: bolder;
}

.sm-button {
    color: white;
    background: white;
    border-radius: 100%;
    margin: 5px;
    padding: 15px;
    transition: 0.5s;
}
  
.sm-button:hover {
    text-decoration: none;
    background: #ffffff;
    color: black;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}
  
.fa-instagram {
    background: rgb(18, 86, 136);
    color: white;
}

footer {
    background: darkblue;
}



